<div class="hero__top">
  <p class="hero__wordmark">Bazar Salamone</p>
</div>

<div class="hero__main">
  <h2 class="hero__headline">Programa<br>de <em>puntos</em>.</h2>
  <p class="hero__subtext">
    Sumá puntos en cada compra y canjealos por productos del bazar.
  </p>
</div>

<div class="hero__bottom">
  <p class="hero__meta">
    <span>Fidelidad</span>
    <span>Clientes</span>
  </p>
</div>
