<% resource = local_assigns[:resource] %>
<% if resource && resource.errors.any? %>
  <div class="form-errors" role="alert">
    <p class="form-errors__title">Revisá los siguientes errores</p>
    <ul class="form-errors__list">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
